<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="card-list">
        
        {% for job in jobs %}
            <li class="card">
                <h2>{{ job[1] }}</h2>
                <div class="card-details">
                    <p>{{ job[2] }}</p>
                    <p>{{ job[5] }}</p>
                    <div class="card-info">
                        <p>{{ job[6] }}</p>
                        <p>{{ job[7] }}</p>
                        <p>{{ job[9] }}</p>
                        <p>{{ job[10] }}</p>
                        <p>license : {{ job[8] }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>